<!doctype HTML>
<html ng-app="girphoto">
	<head>
    <title>GIR | rework</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/gir.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/controllers/main-controller.js"></script>
    <script src="js/directives/menu-directive.js"></script>
    <script src="js/directives/photo-directive.js"></script>
    <script src="js/directives/category-directive.js"></script>
    <script src="js/directives/footer-directive.js"></script>
    <script src="js/services/menu-service.js"></script>
    <script src="js/services/rest-service.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	</head>
    <body ng-controller="mainController">
    <header class="header">
        <div class="header-item logo" ui-sref="home">
            <span class="logo-flourish flourish-left"></span>    
            <div class="logo-img">
                <img class="logo-img" alt="logo Virgil Roger Photographie" src="img/logo.png"/>
            </div>
            <span class="logo-flourish flourish-right"></span> 
        </div>
        <menu></menu>
    </header>
    <section class="content parallax" ui-view>
        <section class="content-text  parallax__layer parallax__layer--back" ng-bind-html="text[0].content | toTrustedHtml" ng-if="text[0].content" ng-class="{'full-size': !data[0]}">
        </section>
        <section class="content-images parallax__layer parallax__layer--base" ng-if="data[0]">
            <div class="spinner" ng-if="loading">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
            </div>
            <div class="content-video" ng-bind-html="data[0].content | toTrustedHtml" ng-if="data[0].format == 'video'"></div>
            <photo class="img-wrapper" ng-repeat="photo in data" ng-if="data[0].format == 'image'" photo="photo"></photo>
            <footer class="footer" gir-footer></footer>
        </section>
    </section>
    
  </body>
</html>