<section class="content-text  parallax__layer parallax__layer--back" ng-bind-html="text[0].content | toTrustedHtml" ng-if="text[0].content" ng-class="{'full-size': !data[0]}">
</section>
<section class="content-images parallax__layer parallax__layer--base" ui-view>
    <div class="spinner" ng-if="loading">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
    <div class="grid">
        <category ng-repeat="gallery in galleries" picture="gallery.featured_image" description="gallery.description" ng-cloak>
    </div>
</section>